<!DOCTYPE html>
<html>
  <head>
    <title>Ed-Up!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <h1 class="header">Ed-Up!</h1>
    <%= yield %>
    <p class="footer small">© 2019 Ed-Up - Cookies, Privacy and Terms</p>
  </body>
</html>
